<nav class="navbar">
  <mat-toolbar>
    <img src="assets/logo.png" class="logo-img" routerLink="../" />
    <ul class="navbar-nav" [class.opening]="clicked">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Qui sommes nous ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/alifStory">Alif Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/store">Boutique</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">À propos d'éducation</a>
      </li>
    </ul>
    <div class="spacer"></div>

    <div class="icon-label-container" [class.opening]="clicked">
      <div class="container">
        <mat-icon>account_circle</mat-icon>
        <span class="label">connexion</span>
      </div>
      <div class="container">
        <mat-icon>shopping_cart</mat-icon>
        <span class="label">Panier</span>
      </div>

    </div>
    <i class="material-icons menu-icon" (click)="openMenu()" *ngIf="menuOpened ==false">menu</i>
    <i class="material-icons menu-icon close-icon" *ngIf="menuOpened" (click)="openMenu()">close</i>
  </mat-toolbar>
<!-- Add the blur to the content behind -->
        <div class="blur-background" *ngIf="menuOpened" (click)="openMenu()"></div>
      
</nav>
