
mat-toolbar {
    height: 60px;
    background-color: var(--brown-color);
    .logo-img {
        width: 70px;
        height: 60px;
        position: absolute;
        left: 5%;
        margin-top: -15px;
    }
}
.navbar-nav {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    gap: 40px;

    .nav-item {
        .nav-link {
            text-decoration: none;
            color: black;
        }
    }
}

.spacer {
    flex: 1 1 auto;
}

.icon-label-container {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;

    .container {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;
    }
}