mat-toolbar {
    height: 60px;
    background-color: var(--brown-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);

    .logo-img {
        width: 60px;
        height: 50px;
        margin-left: 35px;
        margin-top: -5px;
        cursor: pointer;
    }

    .menu-icon {
        visibility: hidden;
    }


}

.navbar-nav {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    gap: 40px;

    .nav-item {
        .nav-link {
            text-decoration: none;
            color: black;
            cursor: pointer;
        }

        .nav-link:hover {
            color: var(--background-color);
        }
    }
}

.spacer {
    flex: 1 1 auto;
}

.icon-label-container {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 20px;

    .container {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 5px;
        cursor: pointer;

    }

    .container:hover {
        color: var(--background-color);

    }
}


//============RESPONSIVITE==============

@media only screen and (max-width:950px) {
    mat-toolbar {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);

        .menu-icon {
            visibility: visible;
        }

        .close-icon {
            position: fixed;
            z-index: 2;
            right: 10px;
            top: 8px;
        }

        .opening {
            //     left: 80%;
            //     transition: 0.4s ease-in-out;
            visibility: visible;
        }
    }

    .navbar-nav {
        position: fixed;
        right: 0;
        width: fit-content;
        top: 80px;
        display: block;
        text-align: left;
        height: 100vh;
        padding: 5px;
        z-index: 1;
        padding-left: 10px;
        background-color: var(--brown-color);
        visibility: hidden;

        .nav-item {
            padding-top: 15px;
        }

    }

    .icon-label-container {
        position: fixed;
        width: 158px;
        right: 0;
        top: 0;
        display: block;
        text-align: left;
        padding: 5px;
        z-index: 1;
        background-color: var(--brown-color);
        padding-left: 10px;
        visibility: hidden;

        .container {
            padding-top: 15px;
        }

    }

}