<div class="container">
    <img src="assets/home-images/boite.png" class="boite-img">
    <div class="content">
        <span class="big-title">Découvrez la boite à histoires Alif Story</span>
        <div class="links">
            <span class="commander-btn">COMMANDER</span>
            <span class="savoir-plus-btn">EN SAVOIR PLUS</span>
        </div>
    </div>
</div>
<div class="cards-container">
    <div class="card" *ngFor="let card of cards">
        <div class="card-content">
            <span class="card-title">{{card.title}}</span>
            <p class="card-description">{{card.description}}</p>
            <button class="btn-voir-plus">voir plus</button>
        </div>
    </div>
</div>
<div class="middle-container">
    <div class="middle-cards">
        <div class="card" *ngFor="let card of middle_cards">
            <img  [src]="card.icon" alt="Icon" class="card-icon">
            <p class="card-descr">{{card.desc}}</p>
        </div>
    </div>
</div>
<div class="products-compl">
    <div class="product-title">
        PRODUITS COMPLÉMENTAIRES
    </div>
    <div class="content-products">
        <div class="product-card" *ngFor="let card of products">
            <span class="title-prod-card">{{card.title}}</span>
            <img [src]="card.image" alt="islamKids" class="img-kid" />
            <p>{{card.description}}</p>
            <button class="decouvrir-btn">DÉCOUVRIR</button>
        </div>
        <div class="decouvrir">
            <span class="span-decouvrir">DÉCOUVRIR LES PRODUITS COMPLÉMENTAIRES</span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui molestiae soluta enim beatae explicabo quod
                sunt quibusdam accusamus quas aut incidunt inventore deserunt in, laudantium unde pariatur aspernatur
                laborum. Architecto.</p>
            <button class="boutique-btn ">VOIR LA BOUTIQUE</button>
        </div>
    </div>

</div>
<div class="avis-clients">
    <div class="product-title">
        Ils nous font confiance
    </div>
    <div class="avis-cards">
        <div class="content" *ngFor="let info of opinions">
            <span class="name-client">{{info.name}}</span>
            <span>{{info.opinion}}</span>
            <div class="rating">
                <span class="date">Le {{info.date}}</span>
                <span class="fa fa-star" [class.checked]="info.rating >= 1"></span>
                <span class="fa fa-star" [class.checked]="info.rating >= 2"></span>
                <span class="fa fa-star" [class.checked]="info.rating >= 3"></span>
                <span class="fa fa-star" [class.checked]="info.rating >= 4"></span>
                <span class="fa fa-star" [class.checked]="info.rating >= 5"></span>
            </div>
        </div>
    </div>
    <button class="btn-voir-tous">VOIR TOUS LES AVIS</button>
</div>