<div class="container">
    <div class="titles">
        <span>Le concept</span>
        <span>Comment ça marche ?</span>
        <span>Autre catégorie</span>
    </div>
    <div class="content">
        <img src="assets/home-images/boite.png">
        <div class="concept-content">
            <span class="concept-title">Le concept</span>
            <p>Offrir aux enfants la possibilité d'explorer des récits prophétiques authentiques de l'Islam. En plus des
                récits, ils incluent des éléments pédagogiques. Conçus pour susciter l'intérêt, la curiosité et
                l'émervellement.
            </p>
            <div class="btn-audio">
                <button>ECOUTER UN EXTRAIT</button>
                <audio controls>
                    <source src="assets/audio/example.mp3" type="audio/mp3">
                    Votre navigateur ne supporte pas la lecture audio.
                </audio>
            </div>

        </div>
    </div>
</div>
<div class="container-deux">
    <span>Comment ça marche ?</span>
    <img src="assets/home-images/boite.png">
</div>
<div class="container-categories">
    <span class="categorie-title">Autre catégorie</span>
    <div class="categorie-content">
        <div class="categorie-text">
            <span>47 RÉCITS / 7 PROPHÈTES</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rerum sapiente, placeat
                perspiciatis consequuntur odit similique fuga repellat ratione nostrum nihil reprehenderi</p>
        </div>
        <img src="assets/alif-story-imgs/muslim-family.jpg" class="img-categorie">

    </div>
    <div class="categorie-content">
        <img src="assets/alif-story-imgs/alifstoryimg.jpg" class="img-categorie">
        <div class="categorie-text">
            <span>3H D'ÉCOUTE ET SANS ONDE</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rerum sapiente, placeat
                perspiciatis consequuntur odit similique fuga repellat ratione nostrum nihil reprehenderi</p>
        </div>
    </div>
    <div class="categorie-content">
        <div class="categorie-text">
            <span>J'ENRICHIE MON EXPÉRIENCE</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rerum sapiente, placeat
                perspiciatis consequuntur odit similique fuga repellat ratione nostrum nihil reprehenderi</p>
        </div>
        <img src="assets/alif-story-imgs/muslim-family.jpg" class="img-categorie">
    </div>
</div>