<footer>
    <div class="container">
        <div class="footer-col">
            <h4>Aide et Support</h4>
            <ul>
                <li><a>Qui sommes nous ?</a></li>
                <li><a>contactez-nous</a></li>
                <li><a>Faire questions</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Politiques et mentions légales</h4>
            <ul>
                <li><a>Politique et confidentialité</a></li>
                <li><a>Conditions d'utilisation</a></li>
                <li><a>Politique de remboursement ou de retour</a></li>
                <li><a>Mentions légales</a></li>
            </ul>
        </div>
        <div class="footer-col  col-logo-contact">
            <img src="assets/logo.png" class="logo-img">
            <span>alifstory@contact.com</span>
            <div class="social-media-links">
                <span class="fa fa-instagram"></span>
                <span class="fa fa-facebook"></span>
            </div>
        </div>
    </div>
</footer>